<h1 align="center">Users</h1>
<div style="width: 50%; margin: 0 auto; text-align: center;">
{{#each ids}}
<a href="/users/{{this}}"><button style="margin-left: 10px; margin-right: 10px;">User {{this}}</button></a>
{{/each}}
</div>